.image-anchor {
  display: block;

  outline-offset: 0;

  &:focus-visible img {
    border-radius: 5px;
  }
}

.text-anchor {
  color: black;
  font-weight: 500;
  text-decoration: none;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: -0.35em;

    background: linear-gradient(black, black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: bottom left;

    transition: background-size 500ms ease;
  }

  &:hover::after {
    background-size: 100% 3px;
  }
}

.wip-warning {
  color: hsl(0, 80%, 50%);
  text-decoration: underline;
}
