.project {
  flex: 1 1 20rem;

  transition: transform 1s ease;

  img {
    opacity: 0.75;
    transition: opacity 1s ease;
  }

  &:hover {
    transform: scale(105%);

    img {
      opacity: 1;
    }
  }
}

.projectLink {
  position: relative;

  &::before {
    content: '';
    background-image: url(/icons/forward-icon.svg);
    background-repeat: no-repeat;
    background-position: center right;

    position: absolute;
    top: 0;
    bottom: -0.2em;
    left: 100%;
    right: -1.5em;
  }
}
