// ** Imports **

@use "variables" as var;

// ** Placeholder selectors **

%container {
  padding: 2rem 6%;

  @media screen and (min-width: var.$desktop) {
    padding-left: calc(50vw - 400px);
    padding-right: calc(50vw - 400px);
  }
}

%flex-column {
  display: flex;
  flex-flow: column;
}

%icon-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  &--dark {
    background-color: var.$light-gray;

    padding: .5rem 0;

    border: 2px solid var.$gray;
    border-radius: 20px;
  }
}

%icon-item {
  margin: 0 .5rem;

  & img {
    @media screen and (min-width: var.$phone) {
      height: 50px;
    }

    @media screen and (min-width: var.$desktop) {
      height: 60px;
    }
  }
}

%text {
  text-align: justify;
  
  margin-bottom: 1rem;
}

%title {
  font: var.$title-fs var.$title-fm;

  margin-bottom: 1rem;
}

%subtitle {
  font: var.$subtitle-fs var.$title-fm;

  margin-bottom: .5rem;
}