// ** Variables **

$phone: 0px;
$tablet: 768px;
$desktop: 1024px;

$title-fm: 'Nothing You Could Do', cursive;
$general-fm: 'Ubuntu', Arial, Helvetica, sans-serif;

$title-fs: 1.75em;

$black: rgb(0, 0, 0);
$light-gray: rgb(236, 236, 236);
$white: rgb(255, 255, 255);

$logo-width: 150px;

$box-shadow: 0 0 25px -10px rgba(0, 0, 0, .5);