// Grayscale
$subtle-gray: hsla(0, 0%, 99%);
$light-gray: hsla(0, 0%, 90%);
$dark-gray: hsl(0, 0%, 20%);

$light-shadow: hsla(0, 0%, 0%, 0.1);
$medium-shadow: hsla(0, 0%, 0%, 0.3);

// Colorful
$blue: hsl(209, 80%, 60%);
