.cabecalho {
    display: flex;
    padding: .5rem 1rem;
    justify-content: space-between;
    align-items: center;

    background-color: black;
}

@media screen and (min-width: 0) {
    .cabecalho {
       flex-flow: column;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
       flex-flow: row nowrap;
    }
}