.planos__lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    align-self: center;
}

.planos__lista--item {
    margin: 0 .5rem;
}

.planos__lista--imagem {
    height: 60px;
}