@use '../partials/screen-breakpoints' as sb;

// Header
.header {
  padding-block: var(--size-5) var(--size-3);
}

.skipContent {
  background-color: black;

  color: white;

  position: absolute;
  top: 0;
  left: var(--size-3);

  padding: var(--size-2) var(--size-3);
  border-radius: 0px 0px 5px 5px;

  transform: translateY(-110%);
  transition: transform 500ms ease-out;

  &:focus-visible {
    outline-offset: 0;

    transform: translateY(0%);
  }
}

.socialsIcons {
  display: flex;
  gap: var(--size-3);

  li {
    width: 30px;
    aspect-ratio: 1;
  }

  a {
    display: block;

    opacity: 0.5;
    transition: opacity 500ms ease;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

// Main
.hero {
  display: grid;
  column-gap: var(--size-5);
  row-gap: var(--size-3);
  grid-template-columns: 1fr min(20vw, 300px);

  margin-bottom: var(--size-6);

  @media (max-width: sb.$max-tablet) {
    grid-template-columns: auto;
  }
}

.heroImageContainer {
  aspect-ratio: 1;
  max-height: 200px;

  img {
    border-radius: 2.5%;
  }
}

.heroTitle {
  max-width: 23ch;

  margin-block: 0;
}

.projectList {
  display: grid;
  gap: var(--size-6);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: space-between;
}

.emailLink {
  --icon-position: 2em;
  margin-left: var(--icon-position);

  &::before {
    content: '';
    background-image: url(/icons/email-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;

    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--icon-position) * -1);
    right: 100%;
  }
}
