.links {
  margin-block-end: var(--size-6);

  li {
    margin-block: var(--size-2);
  }
}

.features {
  li {
    list-style: circle;

    margin-inline-start: 1.2rem;
    margin-block: var(--size-3);
  }
}

.video {
  width: min(100%, 40rem);
  max-height: 350px;
}
