@use "./partials/colors" as clr;
@use "./partials/gaps" as gp;
@use "./partials/screen-breakpoints" as sb;

:focus-visible {
  outline: 5px solid clr.$blue;
  border-radius: 5px;
  z-index: 1;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

header,
main,
footer {
  max-width: sb.$min-desktop;
  margin: 0 auto;

  padding-inline: gp.$big;

  @media (max-width: sb.$max-mobile) {
    padding-inline: gp.$small;
  }
}

section {
  &:not(:first-of-type) {
    margin-top: gp.$bigger;
  }
  &:not(:last-of-type) {
    margin-bottom: gp.$bigger;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
  margin-block: 1em;
}

p {
  color: clr.$dark-gray;

  max-width: 75ch;

  &:not(:first-of-type) {
    margin-top: gp.$big;
  }
  &:not(:last-of-type) {
    margin-bottom: gp.$big;
  }

  &:first-of-type:last-of-type {
    margin-block: gp.$small;
  }
}

.text-anchor {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    bottom: -0.35em;

    background: linear-gradient(black, black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: bottom left;

    transition: background-size 500ms ease;
  }

  &:hover::after {
    background-size: 100% 3px;
  }
}
