@use "../../styles/partials/colors" as clr;
@use "../../styles/partials/gaps" as gp;

.list {
  display: grid;
  gap: gp.$medium gp.$bigger;
  grid-template-columns: repeat(auto-fit, 12rem);
  max-width: 60rem;

  li {
    background-color: clr.$subtle-gray;

    color: black;

    position: relative;
    display: flex;
    align-items: center;

    padding-block: gp.$small;
    padding-inline: gp.$medium gp.$big;
    border-inline-start: 5px solid clr.$light-gray;
    box-shadow: 0 0.125rem 0.25rem 0 clr.$light-shadow;

    transition: transform 1s ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;

      box-shadow: 0 0.5rem 1rem -0.25rem clr.$medium-shadow;

      opacity: 0;

      transition: opacity 1s ease;
    }

    &:hover {
      transform: translateY(-10%);

      &::before {
        opacity: 1;
      }
    }
  }
}
