.list {
  display: grid;
  gap: var(--size-4) var(--size-6);
  grid-template-columns: repeat(auto-fit, 12rem);
  max-width: 60rem;

  li {
    background-color: var(--gray-0);

    color: black;

    position: relative;
    display: flex;
    align-items: center;

    padding: var(--size-3);
    padding-inline-start: var(--size-4);

    border-inline-start: 5px solid var(--gray-1);
    box-shadow: 0 0.125rem 0.25rem 0 var(--black-alpha-1);

    transition: transform 1s ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;

      box-shadow: 0 0.5rem 1rem -0.25rem var(--black-alpha-2);

      opacity: 0;

      transition: opacity 1s ease;
    }

    &:hover {
      transform: translateY(-10%);

      &::before {
        opacity: 1;
      }
    }
  }
}
