@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  font: 16px "Ubuntu", Arial, Helvetica, sans-serif;
}

.btn-dark-mode {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 0.5rem 1rem;
  background-color: #ececec;
  border: 1px solid #5a5a5a;
  border-radius: 1rem;
}

.btn-dark-mode:hover {
  cursor: pointer;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]::before, [data-tooltip]::after {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
}
[data-tooltip]:hover {
  cursor: pointer;
}
[data-tooltip]:hover::before, [data-tooltip]:hover::after {
  visibility: visible;
}
[data-tooltip]::before {
  content: attr(data-tooltip);
  width: 200px;
  padding: 0.5rem;
  margin-left: -100px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  border-radius: 3px;
}
[data-tooltip]::after {
  content: "";
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.dark {
  background-color: #181818;
  color: white;
}
.dark .btn-dark-mode {
  color: white;
  background-color: #5a5a5a;
  border: 1px solid white;
}
.dark [data-tooltip]::before, .dark [data-tooltip]::after {
  filter: invert(100%);
}

.projects, .plans, .abilities, .introduction {
  padding: 2rem 6%;
}
@media screen and (min-width: 1024px) {
  .projects, .plans, .abilities, .introduction {
    padding-left: calc(50vw - 400px);
    padding-right: calc(50vw - 400px);
  }
}

.projects, .plans, .abilities, .introduction {
  display: flex;
  flex-flow: column;
}

.plans__list, .abilities__list, .introduction__socials-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.dark .plans__list, .dark .abilities__list {
  background-color: #ececec;
  padding: 0.5rem 0;
  border: 2px solid #5a5a5a;
  border-radius: 20px;
}

.plans__item, .abilities__item, .introduction__social-item {
  margin: 0 0.5rem;
}
.plans__item img, .abilities__item img, .introduction__social-item img {
  height: 100%;
}
@media screen and (min-width: 0px) {
  .plans__item, .abilities__item, .introduction__social-item {
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .plans__item, .abilities__item, .introduction__social-item {
    height: 60px;
  }
}

.plans__description, .abilities__description, .introduction__description {
  text-align: justify;
  margin-bottom: 1rem;
}

.projects__title, .plans__title, .abilities__title, .introduction__title {
  font: 1.75em "Nothing You Could Do", cursive;
  margin-bottom: 1rem;
}

.projects__subtitle {
  font: 1.25em "Nothing You Could Do", cursive;
  margin-bottom: 0.5rem;
}

.navbar {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.navbar__logo {
  aspect-ratio: 3/1;
  width: 150px;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.menu__item {
  padding: 0.5rem;
  color: white;
}

@media screen and (min-width: 0px) {
  .navbar {
    flex-flow: column;
  }

  .menu {
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    flex-flow: row nowrap;
  }

  .menu {
    padding-top: 0;
  }
}
.introduction {
  align-items: center;
  background: linear-gradient(0deg, white, #ececec);
}
.introduction__img {
  object-position: center;
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.5);
}
.introduction__title {
  text-align: center;
  margin-top: 0.5rem;
}
.dark .introduction {
  background: transparent;
}
.dark .introduction__social-item img {
  filter: invert(100%);
}

.abilities__list {
  align-self: center;
}
.plans__list {
  align-self: center;
}
.projects__item {
  margin: 2rem 0;
}
.projects__item-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
