// ** Imports **

@use "../variables" as var;

// ** Main **

.btn-dark-mode {
  position: fixed;
  bottom: 15px;
  right: 15px;

  padding: .5rem 1rem;

  background-color: var.$light-gray;
  
  border: 1px solid var.$gray;
  border-radius: 1rem;
}

.btn-dark-mode:hover {
  cursor: pointer;
}

[data-tooltip] {
  $bg-color: rgba(0, 0, 0, .8);
  $arrow-size: 5px;
  position: relative;
  cursor: pointer;

  &::before, &::after {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
  }

  &:hover {
    &::before, &::after {
      visibility: visible;
    }
  }

  // Tooltip itself
  &::before {
    $tooltip-size: 200px;
    content: attr(data-tooltip);

    width: $tooltip-size;
    padding: .5rem;
    margin-left: calc($tooltip-size * -1/2);
    margin-bottom: calc($arrow-size * 2);

    background-color: $bg-color;
    color: var.$white;
    text-align: center;

    border-radius: 3px;
  }

  // Triangle below the tooltip
  &::after {
    content: "";
    margin-left: calc($arrow-size * -1);
    border-width: $arrow-size;
    border-style: solid;
    border-color: $bg-color transparent transparent transparent;
  }
}

// ** Dark mode **

.dark {
  background-color: var.$dark-gray;
  color: var.$white;

  .btn-dark-mode {
    color: var.$white;
    background-color: var.$gray;

    border: 1px solid var.$white;
  }

  [data-tooltip] {
    &::before, &::after {
      filter: invert(100%);
    }
  }
}