// ** Imports **

@use "../variables" as var;
@use "../placeholder-selectors";

// ** Plans **

.plans {
  @extend %container;
  @extend %flex-column;

  &__title {
    @extend %title;
  }

  &__description {
    @extend %text;
  }

  &__list {
    @extend %icon-list;
  
    align-self: center;
  }
  
  &__item {
    @extend %icon-item;
  }
}