// ** Imports **

@use "../variables" as var;
@use "../placeholder-selectors";

// ** Projects **

.projects {
  @extend %container;
  @extend %flex-column;

  &__title {
    @extend %title;
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__list {

  }

  &__item {
    margin: 2rem 0;
  }

  &__item-title {
    font-weight: bold;

    margin-bottom: .5rem;
  }
}